{% comment %}
  GO Transit Dashboard - Half Horizontal Layout
  Adapted from Sound Transit Link Light Rail Dashboard
  
  Use Case: Half-size horizontal display (abundant horizontal space, minimal vertical)
  
  Features:
  - Two-direction schedule side by side
  - Compact time display with arriving/next labels
  - No route map (space constraint)
{% endcomment %}

<div class="layout layout--row layout--left layout--stretch mb--0 p--3">
  
  <!-- Direction 1 -->
  <div class="flex--1">
    <div class="mb--1">
      <span class="title title--small" style="display: block;">{{ data.direction_1.label | split: "To " | last }}</span>
      <span class="description">{{ data.direction_1.label }}</span>
    </div>
    <div class="flex flex--col flex--left gap--small">
      
      <!-- Arriving -->
      <div class="item item--emphasis-3">
        <div class="meta"></div>
        <div class="content">
          <span class="label label--small label--inverted mb--1">arriving</span>
          <span>
            <span class="value">{{ data.direction_1.arriving | split: " " | first }}</span>
            <span class="value value--small">{{ data.direction_1.arriving | split: " " | last }}</span>
          </span>
        </div>
      </div>
      
      <!-- Next -->
      <div class="item item--emphasis-2">
        <div class="meta"></div>
        <div class="content text--gray-35">
          <span class="label label--small label--outline mb--1">next</span>
          <span>
            <span class="value">{{ data.direction_1.next | split: " " | first }}</span>
            <span class="value value--small">{{ data.direction_1.next | split: " " | last }}</span>
          </span>
        </div>
      </div>
      
    </div>
  </div>
  
  <!-- Direction 2 -->
  <div class="flex--1">
    <div class="mb--1">
      <span class="title title--small" style="display: block;">{{ data.direction_2.label | split: "To " | last }}</span>
      <span class="description">{{ data.direction_2.label }}</span>
    </div>
    <div class="flex flex--col flex--left gap--small">
      
      <!-- Arriving -->
      <div class="item item--emphasis-3">
        <div class="meta"></div>
        <div class="content">
          <span class="label label--small label--inverted mb--1">arriving</span>
          <span>
            <span class="value">{{ data.direction_2.arriving | split: " " | first }}</span>
            <span class="value value--small">{{ data.direction_2.arriving | split: " " | last }}</span>
          </span>
        </div>
      </div>
      
      <!-- Next -->
      <div class="item item--emphasis-2">
        <div class="meta"></div>
        <div class="content text--gray-35">
          <span class="label label--small label--outline mb--1">next</span>
          <span>
            <span class="value">{{ data.direction_2.next | split: " " | first }}</span>
            <span class="value value--small">{{ data.direction_2.next | split: " " | last }}</span>
          </span>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

<div class="title_bar m--0">
  <span class="title">{{ data.station }}</span>
</div>
