{% comment %}
  GO Transit Dashboard - Half Vertical Layout
  Adapted from Sound Transit Link Light Rail Dashboard
  
  Use Case: Half-size vertical display (abundant vertical space, limited horizontal)
  
  Features:
  - Two-direction schedule in columns
  - Full arriving/next/later for each direction
  - Alerts section at bottom
{% endcomment %}

<style type="text/css">
  .alerts-section {
    max-height: 30%;
  }
</style>

<div class="layout layout--row p--3 gap--large mb--0">
  <div class="flex flex--col flex--1">
    
    <!-- Schedule Header -->
    <div class="mb--2">
      <span class="label label--small label--underline">Schedule</span>
    </div>
    
    <!-- Two-direction time table -->
    <div class="columns time-table mb--3">
      
      <!-- Direction 1 -->
      <div class="column gap--small">
        <div class="mb--1">
          <span class="title title--small" style="display: block;">{{ data.direction_1.label | split: "To " | last }}</span>
          <span class="description">{{ data.direction_1.label }}</span>
        </div>
        
        <!-- Arriving -->
        <div class="item item--emphasis-3">
          <div class="meta"></div>
          <div class="content">
            <span class="label label--small label--inverted mb--1">arriving</span>
            <span>
              <span class="value value--small">{{ data.direction_1.arriving | split: " " | first }}</span>
              <span class="value value--xxsmall">{{ data.direction_1.arriving | split: " " | last }}</span>
            </span>
          </div>
        </div>
        
        <!-- Next -->
        <div class="item item--emphasis-2">
          <div class="meta"></div>
          <div class="content text--gray-35">
            <span class="label label--small label--outline mb--1">next</span>
            <span>
              <span class="value value--small">{{ data.direction_1.next | split: " " | first }}</span>
              <span class="value value--xxsmall">{{ data.direction_1.next | split: " " | last }}</span>
            </span>
          </div>
        </div>
        
        <!-- Later -->
        <div class="item item--emphasis-1">
          <div class="meta"></div>
          <div class="content text--gray-50">
            <span class="label label--small mb--1">later</span>
            <span>
              <span class="value value--small">{{ data.direction_1.later | split: " " | first }}</span>
              <span class="value value--xxsmall">{{ data.direction_1.later | split: " " | last }}</span>
            </span>
          </div>
        </div>
      </div>
      
      <!-- Direction 2 -->
      <div class="column gap--small">
        <div class="mb--1">
          <span class="title title--small" style="display: block;">{{ data.direction_2.label | split: "To " | last }}</span>
          <span class="description">{{ data.direction_2.label }}</span>
        </div>
        
        <!-- Arriving -->
        <div class="item item--emphasis-3">
          <div class="meta"></div>
          <div class="content">
            <span class="label label--small label--inverted mb--1">arriving</span>
            <span>
              <span class="value value--small">{{ data.direction_2.arriving | split: " " | first }}</span>
              <span class="value value--xxsmall">{{ data.direction_2.arriving | split: " " | last }}</span>
            </span>
          </div>
        </div>
        
        <!-- Next -->
        <div class="item item--emphasis-2">
          <div class="meta"></div>
          <div class="content text--gray-35">
            <span class="label label--small label--outline mb--1">next</span>
            <span>
              <span class="value value--small">{{ data.direction_2.next | split: " " | first }}</span>
              <span class="value value--xxsmall">{{ data.direction_2.next | split: " " | last }}</span>
            </span>
          </div>
        </div>
        
        <!-- Later -->
        <div class="item item--emphasis-1">
          <div class="meta"></div>
          <div class="content text--gray-50">
            <span class="label label--small mb--1">later</span>
            <span>
              <span class="value value--small">{{ data.direction_2.later | split: " " | first }}</span>
              <span class="value value--xxsmall">{{ data.direction_2.later | split: " " | last }}</span>
            </span>
          </div>
        </div>
      </div>
      
    </div>
    
    <!-- Alerts Section -->
    {% if data.has_alerts %}
      <div class="mb--2">
        <span class="label label--small label--underline">Alerts</span>
      </div>
      <div class="alerts-section">
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <span class="description" data-clamp="2">{{ data.alerts }}</span>
            <span class="label label--small label--underline">active: {{ data.updated_at | date: "%D %l:%M %p" }}</span>
          </div>
        </div>
      </div>
    {% endif %}
    
  </div>
</div>

<div class="title_bar m--0">
  <span class="title">{{ data.station }}</span>
</div>
